		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Теоритическая часть</h3>
									<ul class="links">
										<li><a href="/1T-Sky_Mech">Раздел Небесная Механика</a></li>
										<li><a href="/1T-History">Историческая справка</a></li>
										<li><a href="/1T-Kepler_Klaws">Законы Кеплера</a></li>
										<li><a href="/">Основные формулы и единицы измерения</a></li>
										<li><a href="/">Примеры решения основных задач</a></li>
										<li><a href="/1T-Slovar">Словарь</a></li>
									</ul>
								</section>
								<section class="6u">
									<h3>Практическая часть</h3>
									<ul class="links">
										<li><a href="/2P_Practic_zadachiastro">Задачи по Астрономии</a></li>
										<li><a href="/2P_Practic_test">Тесты</a></li>
										<li><a href="/2P_Practic_LearningApps">Интерактивные приложения LearningApps</a></li>
										<li><a href="/3D_simulator">3D симуляторы</a></li>
										<li><a href="/about_project_1">О проекте</a></li>
										<li><a href="/Contacts">Контакты</a></li>
									</ul>
								</section>
							</div>
						</div>
						<section class="6u">
							<h3>Обратная связь</h3>
							<form>
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="Текст" name="Имя" id="Имя" placeholder="Имя" />
									</div>
									<div class="6u">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="Сообщение" id="Сообщение" placeholder="Сообщение" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Отправить сообщение" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">Vladislav Popov</a></li>
						</ul>
					</div>

			</div>

	</body>
</html>
